.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 12px;
}

.project-logo {
    width: 100%;
    max-width: 180px;
    margin-bottom: 1rem;
    transition: transform 0.2s ease;
}

.hover-effect:hover .project-logo {
    transform: scale(1.05);
}

.project-name,
.project-info {
    color: rgba(23, 23, 23);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-name {
    padding-top: 0.5rem;
    font-weight: 500;
}

.project-name:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 3px;
}

.project-info {
    padding-bottom: 0.5rem;
}

.soundcloud-artist {
    font-size: 18px;
    color: rgba(23, 23, 23);
    line-break: anywhere;
    font-weight: 300;
}