/* Easter Egg */
.easter-egg {
    position: fixed;
    bottom: -21px;
    /* Position it so that only the top half is visible initially */
    right: 20px;
    width: 45px;
    height: 40px;
    /* Full height of the image */
    background-image: url('../images/home.png');
    background-size: 45px 40px;
    background-position: center;
    z-index: 1;
    cursor: pointer;
}