/* Base styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    background-color: rgb(243, 244, 241);
    scrollbar-gutter: stable both-edges;
    color: rgba(23, 23, 23);
}

/* Typography */
h1 {
    min-width: 303.44px;
}

.thin-underline:hover {
    text-decoration: underline 1px;
    text-underline-offset: 3px;
}

.subtle-underline:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 3px;
}

.link-underline {
    text-decoration: underline 1.5px;
    text-underline-offset: 3px;
    transition: text-underline-offset 0.2s ease;
}

.link-underline:hover {
    text-underline-offset: 6px;
}

/* Layout */
#container {
    height: 100%;
    box-sizing: border-box;
    max-width: 1160px;
}

.visual-container,
.visual-container-bottom {
    border-bottom: 0.5px solid rgba(23, 23, 23, 0.5);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.visual-container {
    border-top: 0.5px solid rgba(23, 23, 23, 0.5);
}

/* Navigation */
nav {
    min-width: 170px;
}

nav.nav-active {
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0.625rem 1.25rem;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 100;
}

.nav-link-text {
    display: block;
    text-align: start;
}

nav ul li a.selected .nav-link-text {
    font-weight: 500;
    text-indent: -1px;
}

/* Home logo */
.home-logo {
    width: 80px;
    padding-bottom: 60px;
}

/* Hamburger menu */
#hamburger-menu {
    font-size: 36px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.25rem 1.25rem;
    z-index: 1000;
    color: rgba(23, 23, 23);
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}

/* Hover effects */
nav ul li a:hover,
#hamburger-menu:hover,
.subtle-underline:hover,
.link-underline:hover,
.hover-effect:hover,
.hover-effect:hover .project-name,
.close:hover,
.close:focus {
    color: rgba(23, 23, 23, 0.7);
}

/* Aspect ratio */
.aspect-ratio-1\/1 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.aspect-ratio-1\/1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgba(23, 23, 23, 0.75);
    padding: 10px 0;
    height: 150px;
    font-style: italic;
}

.close {
    position: absolute;
    top: 10px;
    right: 35px;
    color: rgba(23, 23, 23);
    font-size: 30px;
    font-weight: 100;
    transition: color 0.2s;
    background: transparent;
    border: none;
}

/* Font Awesome icon */
.fa-code {
    transform: scale(0.9);
}

/* Scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: #a8acb1 #e9ebed;
}

::-webkit-scrollbar {
    width: 12px;
    background: #e9ebed;
}

::-webkit-scrollbar-track {
    background: #e9ebed;
}

::-webkit-scrollbar-thumb {
    background-color: #a8acb1;
    border-radius: 6px;
    border: 3px solid #e9ebed;
}

/* Software iframes */
.software-iframe {
    width: 100%;
    height: 800px;
}

/* Media queries */
@media (max-width: 642px) {
    #hamburger-menu {
        display: block;
    }

    nav ul li:not(:first-child) {
        display: none;
    }

    nav.nav-active ul li:not(:first-child) {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        align-items: center;
        transform: translateY(-8px);
    }

    nav {
        padding-bottom: 1.5rem !important;
        margin-bottom: -28.5px;
    }

    .home-logo {
        min-width: 64px !important;
    }
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .home-logo {
        padding-bottom: 10px !important;
        max-width: 48px;
    }

    #content,
    .visual-container,
    .visual-container-bottom {
        padding: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul li a {
        font-size: smaller;
    }

    #content h1.text-5xl {
        font-size: 1.875rem;
        transform: translateY(1rem);
    }

    nav ul li {
        padding: 0.125rem 0 !important;
    }

    .nav-link-text {
        text-align: center !important;
    }
}