/* Base styles */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 125%;
    background-color: rgb(31 41 55);
    scrollbar-gutter: stable both-edges;
}

/* Firefox scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: #7a7f89 #35373b;
}

/* Webkit scrollbar */
::-webkit-scrollbar {
    width: 12px;
    background: #35373b;
}


::-webkit-scrollbar-track {
    background: #35373b;
}


::-webkit-scrollbar-thumb {
    background-color: #7a7f89;
    border-radius: 6px;
    border: 3px solid #35373b;
}

/* Main container */
#container {
    height: 100%;
    box-sizing: border-box;
}

/* Headings */
h1 {
    min-width: 303.44px;
}

/* Pointer cursor for interactive elements */
.cursor-pointer {
    cursor: pointer;
}

/* Navigation styles */
nav {
    min-width: 170px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0.625rem 1.25rem;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-weight: 100;
}

.nav-link-text {
    display: block;
    width: 92.22px;
    text-align: start;
}

/* Hover states */
nav ul li a:hover,
#hamburger-menu:hover,
.subtle-underline:hover,
.hover-effect:hover,
.hover-effect:hover .project-name,
.close:hover,
.close:focus {
    color: rgba(209, 213, 219, 0.75);
}

nav ul li a.selected .nav-link-text {
    font-weight: 500;
    text-indent: -1px;
}

/* Home logo styles */
.home-logo {
    width: 80px;
    padding-bottom: 60px;
}

/* Hamburger menu */
#hamburger-menu {
    font-size: 36px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.625rem 1.25rem;
    z-index: 1000;
    color: rgba(209, 213, 219);
}

/* Media queries */
@media (max-width: 576px) {
    #hamburger-menu {
        display: block;
    }

    nav ul li:not(:first-child) {
        display: none;
    }

    nav.nav-active ul li:not(:first-child) {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: column !important;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        padding-bottom: 1.5rem !important;
    }

    .home-logo {
        min-width: 80px !important;
    }
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        padding: 1rem;
    }

    .home-logo {
        padding-bottom: 10px !important;
        max-width: 48px;
    }

    #content,
    .visual-container,
    .visual-container-bottom {
        padding: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul li a {
        font-size: smaller;
    }

    #content h1.text-5xl {
        font-size: 1.875rem;
        transform: translateY(1rem);
    }

    nav ul li {
        padding: 0.125rem 0 !important;
    }

    .nav-link-text {
        text-align: center !important;
    }
}

/* Border container styles */
.visual-container,
.visual-container-bottom {
    border-bottom: 0.5px solid rgba(209, 213, 219, 0.5);
    padding-bottom: 1rem;
}

.visual-container {
    border-top: 0.5px solid rgba(209, 213, 219, 0.5);
    padding-top: 1rem;
}

/* Link styles */
.subtle-underline {
    font-weight: 500;
}

.subtle-underline:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 3px;
}

/* Aspect ratio styles */
.aspect-ratio-1\/1 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.aspect-ratio-1\/1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgba(209, 213, 219, 0.75);
    padding: 10px 0;
    height: 150px;
    font-style: italic;
}

.close {
    position: absolute;
    top: 10px;
    right: 35px;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    transition: color 0.2s;
    background: transparent;
    border: none;
}

/* Font awesome icon */
.fa-code {
    transform: scale(0.9);
}